
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #2d3943;
    background: #f0f0f0;
    font-family: Play, sans-serif;
}

.row {
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 42px 12px;
}

.row.dark {
    background: #2d3943;
    color: #f0f0f0;
}

.row-inner {
    max-width: 1400px;
    width: 100%;
}

.row.navigation {
    padding: 24px 12px;
}

.navigation .row-inner {
    display: flex;
    align-items: center;
}

.logo {
    width: 256px;
    margin-right: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.menu-item,
.menu-social {
    font-size: 28px;
    font-weight: bold;
    margin-left: 32px;
}

.menu-social {
    display: inline-block;
}

.title .row-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container {
    font-size: 48px;
    font-weight: bold;
    padding: 100px 8px;
}

.title-verb {
    background: #f0f0f0;
    color: #2d3943;
    padding: 0 8px;
    border-radius: 2px;
}

.paste .row-inner {
    display: flex;
    justify-content: center;
}

.paste-box {
    width: 1000px;
    max-width: 100%;
    border: 3px solid #f0f0f0;
    border-radius: 3px;
}

.paste-header {
    background: #f0f0f0;
    color: #2d3943;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #f0f0f0;
}

.paste-box .btn {
    margin-left: 8px;
}

.paste-footer {
    font-size: 18px;
    background: #f0f0f0;
    padding: 6px 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 3px solid #f0f0f0;
}

.paste-header-text {
    margin-right: auto;
}

.paste-body {
    height: 600px;
    outline-offset: -10px;
    outline: transparent dashed 2px;
    transition: outline-color .2s;
}

.paste-body.window-dragover {
    outline-color: rgba(240, 240, 240, 0.5);
}

.paste-body.dragover {
    outline-color: rgba(240, 240, 240, 1);
}

.paste-error {
    background: #f62451;
    color: #f0f0f0;
    font-weight: bold;
    line-height: 1;
    border-radius: 2px;
    padding: 8px 15px 8px 10px;
}

.info .row-inner {
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-item {
    padding: 8px 24px;
    width: 33%;
    text-align: center;
}

.info-icon {
    font-size: 128px;
    margin-bottom: 22px;
}

.info-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}

.info-blue .info-icon,
.info-blue .info-title {
    color: #2d87d3;
}

.info-green .info-icon,
.info-green .info-title {
    color: #1FD78D;
}

.info-red .info-icon,
.info-red .info-title {
    color: #F62451;
}

.info-text {
    font-size: 18px;
    line-height: 26px;
}

.article {
    display: flex;
    align-items: center;
}

.article.right {
    flex-direction: row-reverse;
}

.article.right .article-info {
    text-align: right;
}

.article-icon {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180px;
    padding: 40px 8px;
}

.article-info {
    width: 50%;
}

.article-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}

.article-text {
    font-size: 18px;
}

.article-buttons {
    margin-top: 16px;
}


.footer {
    text-align: center;
}

.footer a:hover {
    text-decoration: underline;
}

.paste-body textarea {
    background: none;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: #f0f0f0;
    padding: 10px;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}

.log {
    font-family: "Roboto Mono", monospace;
    word-break: break-all;
    font-size: 14px;
}

.log-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.log-row {
    flex-grow: 1;
}

.log-row .no-wrap {
    width: unset;
    min-width: 100%;
}

.log-row .no-wrap .log {
    max-width: unset;
    overflow-x: scroll;
}

.log-row .no-wrap .level {
    white-space: nowrap;
}

.log-notice {
    font-size: 12px;
    text-align: center;
    color: #777;
}

.not-found {
    min-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-found-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 22px;
}

.not-found-buttons {
    margin-top: 8px;
    font-family: "Play", sans-serif;
}

.docs .row-inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.docs-text {
    width: 60%;
    margin-right: auto;
}

.docs-icon {
    font-size: 90px;
}

.endpoint {
    padding: 8px 0px;
}

.content-type {
    font-size: 12px;
    font-weight: bold;
    margin-left: 12px;
    color: #777;
}

.method {
    background: #2d3943;
    color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
}

.endpoint-url {
    padding-left: 8px;
    font-weight: bold;
}

.endpoint-table {
    margin: 12px 0 20px;
    background: #2d3943;
    color: #f0f0f0;
    border-radius: 2px;
}

.endpoint-table td {
    padding: 0px 12px 8px 8px;
}

.endpoint-table th {
    padding: 8px 12px 0px 8px;
    font-size: 14px;
    text-align: left;
}

.answer {
    margin: 8px 0 16px;
    background: #2d3943;
    color: #f0f0f0;
    border-radius: 2px;
    padding: 16px;
}

.method,
.endpoint-url,
.endpoint-field,
.endpoint-type,
.content-type {
    font-family: "Roboto Mono", monospace;
}

.log-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 12px;
    margin-bottom: 20px;
}

.log-bottom {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
}

.log-bottom .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-bottom .checkbox-container label {
    cursor: pointer;
}

.log-bottom .checkbox-container input[type="checkbox"] {
    cursor: pointer;
    display: block;
    appearance: none;
    background: transparent;
    font-size: 16px;
    margin-right: 7px;
    color: #fff;
}

.log-bottom .checkbox-container input[type="checkbox"]:after {
    content: "\f0c8";
    font-family: "Font Awesome 6 Free";
    display: block;
    width: 100%;
    height: 100%;
}

.log-bottom .checkbox-container input[type="checkbox"]:checked:after {
    content: "\f14a";
}

.log-title {
    display: flex;
    align-items: baseline;
}

.log-title h1 {
    font-size: 22px;
}

.log-title h1 i {
    margin-right: 8px;
}

.log-id {
    color: #777;
    font-weight: bold;
    margin-left: 8px;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
}

.log-info-actions .btn:last-child {
    margin-right: 0;
}

.collapsed-lines-count {
    text-align: center;
    color: #777;
    font-weight: bold;
}

.collapsed-lines-count:hover {
    cursor:  pointer;
    color: #2d87d3;
}

.analysis {
    background: #2b87d3;
    color: #f0f0f0;
    padding: 16px 24px 6px;
    border-radius: 3px;
    margin-bottom: 12px;
}

.analysis-headline {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0 12px;
}

.information {
    display: flex;
}

.information-label {
    margin-right: 8px;
    font-weight: bold;
}

.problem-header {
    background: #f0f0f0;
    color: #2b87d3;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.problem-header .btn {
    margin-left: auto;
}

.problem-list {
    margin-top: 22px;
}

.problem-solution-list {
    padding-left: 10px;
    border-left: 3px solid #f0f0f0;
}

.information-value {
    background: #f0f0f0;
    color: #2b87d3;
    font-weight: bold;
    padding: 0 4px;
    border-radius: 2px;
    margin-bottom: 8px;
}

.problem-body {
    display: flex;
    align-items: center;
    margin: 6px 0 22px 12px;
}

.problem-solution {
    word-break: break-word;
}

.problem-solution-headline {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

@media all and (max-width: 800px) {
    .logo {
        width: 128px;
    }

    .row {
        padding: 28px 0;
    }

    .menu-item,
    .menu-social {
        font-size: 16px;
        margin-left: 10px;
    }

    .menu-social.btn-large.btn-notext {
        padding: 8px 10px;
    }

    .title-container {
        font-size: 32px;
        text-align: center;
        padding: 40px 8px;
    }

    .paste-box {
        border-radius: 0;
    }

    .log-row {
        padding-bottom: 0;
    }

    .paste-body {
        height: 400px;
    }

    .info-item {
        margin-top: 64px;
        width: 100%;
    }

    .info-item:first-child {
        margin-top: 0px;
    }

    .article,
    .article.right {
        flex-direction: column;
    }

    .article.right .article-info {
        text-align: left;
    }

    .article-icon {
        font-size: 128px;
    }

    .article-info {
        width: 100%;
        padding: 24px 24px 12px;
    }

    .hide-mobile {
        display: none;
    }

    .analysis {
        padding: 8px 12px 4px;
    }

    .problem-message {
        font-size: 14px;
        padding-right: 4px;
    }

    .problem-solution-headline {
        font-size: 16px;
    }

    .problem-solution {
        font-size: 14px;
    }

    .analysis-headline {
        margin: 6px 0 10px;
        font-size: 24px;
    }

    .problem-body {
        flex-direction: column;
        align-items: flex-start;
    }

    .problem-solution-list {
        border-left: none;
        padding-left: 0;
    }
}

.notes-buttons {
    margin-top: 8px;
}

@media all and (max-width: 500px) {
    .menu-item {
        display: none;
    }

    .docs-text {
        width: 100%;
    }

    .docs-icon {
        display: none;
    }
}