name: "mclogs"
services:
  web:
    build:
      context: ..
      dockerfile: Dockerfile
    environment:
      - MCLOGS_WORKER_REQUESTS=1
      - FRANKENPHP_WORKERS=4
    ports:
      - "80:80"
    volumes:
      - ../:/app
      - ./dev.ini:/usr/local/etc/php/conf.d/dev.ini
    depends_on:
      - mongo

  mongo:
    image: mongo
    volumes:
      - mongo:/data/db

volumes:
  mongo:
