.btn {
    line-height: 1;
    border-radius: 2px;
    font-weight: bold;
    color: #f0f0f0;
    background: #2d3943;
    padding: 8px 15px 8px 10px;
    font-size: 18px;
    margin: 10px 8px 10px 0px;
    display: inline-block;
    transition: background 0.05s;
    cursor: pointer;
}

.btn.hidden {
    display: none;
}

.btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08));
}

.btn:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16));
}

.btn .fa {
    margin-right: 5px;
}

.btn-no-margin {
    margin: 0;
}

.btn-inline {
    display: inline;
}

.btn-notext {
    padding: 8px 10px;
}

.btn.btn-notext .fa {
    padding: 0;
    margin: 0;
}

.btn-topright {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
}

.btn-separate {
    border: none;
    padding: 0 15px 0 0;
}

.btn-separate .fa {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    text-align: center;
    padding: 8px 8px;
    margin-right: 10px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.btn-clickme .fa:before {
    width: 18px;
    display: inline-block;
}

.btn-clickme:hover .fa:before {
    content: "\f25a";
}

.btn-disabled {
    cursor: default;
}

.btn-working,
.btn-done {
    cursor: wait;
}

.btn.btn-working .fa:before {
    content: "\f013";
}

.btn-working .fa {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.btn-disabled:not(.btn-working):not(.btn-done),
.btn-disabled:not(.btn-working):not(.btn-done):hover,
.btn-disabled:not(.btn-working):not(.btn-done):active {
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    color: inherit;
}

.btn-working,
.btn-working:hover,
.btn-working:active,
.btn-done,
.btn-done:hover,
.btn-done:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16));
}

.btn.btn-done .fa:before {
    content: "\f00c";
}

.btn-label {
    margin-left: 8px;
    background: #f0f0f0;
    color: #2d3943;
    padding: 0 3px;
    border-radius: 2px;
}

.btn-white {
    background-color: #f0f0f0;
    color: #2d3943;
}

.btn-black {
    background-color: #2d3943;
}

.btn-green {
    background-color: #1FD78D;
}

.btn-red {
    background-color: #F62451;
}

.btn-orange {
    background-color: #EB7B59;
}

.btn-blue {
    background-color: #2d87d3;
}

.btn-yellow {
    background-color: #FFCA25;
    color: #f0f0f0;
}

.btn-small {
    padding: 5px 11px 5px 8px;
    font-size: 14px;
}

.btn-small.btn-notext {
    padding: 5px 8px;
}

.btn-small .fa {
    margin-right: 3px;
}

.btn-small.btn-separate {
    padding: 0 11px 0 0;
}

.btn-small.btn-separate .fa {
    padding: 5px;
    margin-right: 7px;
}

.btn-small.btn-clickme .fa:before {
    width: 14px;
}

.btn-large {
    padding: 12px 21px 12px 16px;
    font-size: 23px;
}

.btn-large.btn-notext {
    padding: 12px 16px;
}

.btn-large .fa {
    margin-right: 8px;
}

.btn-large.btn-separate {
    padding: 0 21px 0 0;
}

.btn-large.btn-separate .fa {
    padding: 12px;
    margin-right: 16px;
}

.btn-large.btn-clickme .fa:before {
    width: 23px;
}

.btn-huge {
    padding: 20px 30px 20px 18px;
    font-size: 28px;
}

.btn-huge.btn-notext {
    padding: 20px 18px;
}

.btn-huge .fa {
    margin-right: 12px;
}

.btn-huge.btn-separate {
    padding: 0 30px 0 0;
}

.btn-huge.btn-separate .fa {
    padding: 20px;
    margin-right: 20px;
}

.btn-huge.btn-clickme .fa:before {
    width: 28px;
}

.article-buttons .btn {
    margin-bottom: 4px;
}
