

.level-prefix {
    font-weight: bold;
}

.level-info {
    color: #f0f0f0;
}

.level-INFO .level-prefix,
.level-NOTICE .level-prefix,
.level-DEBUG .level-prefix,
.level-TRACE .level-prefix {
    color: #2d87d3;
}

.level-WARN,
.level-WARNING {
    color: #FF6625;
}

.level-ERROR,
.level-SEVERE,
.level-FATAL,
.level-CRITICAL,
.level-EMERGENCY,
.level-STDERR {
    color: #F62451;
}

.format-black {
    color: #000;
}

.format-darkblue {
    color: #0000AA;
}

.format-darkgreen {
    color: #00AA00;
}

.format-darkaqua {
    color: #00AAAA;
}

.format-darkred {
    color: #AA0000;
}

.format-darkpurple {
    color: #AA00AA;
}

.format-gold {
    color: #FFAA00;
}

.format-gray {
    color: #AAAAAA;
}

.format-darkgray {
    color: #555555;
}

.format-blue {
    color: #5555FF;
}

.format-green {
    color: #55FF55;
}

.format-aqua {
    color: #55FFFF;
}

.format-red {
    color: #FF5555;
}

.format-lightpurple {
    color: #FF55FF;
}

.format-yellow {
    color: #FFFF55;
}

.format-white {
    color: #FFFFFF;
}

.format-reset {
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    display: inline-block;
}

.format-bold {
    font-weight: bold;
}

.format-underline {
    text-decoration: underline;
}

.format-italic {
    font-style: italic;
}

.format-strike {
    text-decoration: line-through;
}

.multiline {
    padding-left: 64px;
}

.highlight-error {
    background: #F62451;
    color: #f0f0f0;
    padding: 0px 3px;
    border-radius: 2px;
    font-weight: bold;
    display: inline-block;
}

.highlight-warning {
    background: #FF6625;
    color: #f0f0f0;
    padding: 0px 3px;
    border-radius: 2px;
    font-weight: bold;
    display: inline-block;
}

.line-number-container {
    text-align: right;
    vertical-align: top;
}

.line-number {
    padding: 0 4px 0 6px;
    margin-right: 4px;
    color: #777;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    outline: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    word-break: keep-all;
    white-space: nowrap;
}

.line-number:hover {
    color: #2d87d3;
}

.line-active {
    background: #2d87d3;
    color: #f0f0f0;
    border-radius: 2px;
}

.line-active:hover {
    color: #f0f0f0;
    cursor: default;
}
